{% extends 'image_analysis/layout.html' %}
{% block title %}Главная страница{% endblock %}
{% load static %}

{% block content %}
<main class="main-container">
    <div class="image-container">
        <img id="preview" class="preview-image"/>
    </div>

    <div class="image-container">
        <img id="preview1" class="preview-image"/>
    </div>

    <div class="info-container">
        <div class="info-box rules">
            <h2>Правила использования:</h2>
            <ul>
                <li>Загружаемый файл должен быть формата JPEG.</li>
                <li>Файл должен весить не более 2 МБ.</li>
            </ul>
            <h2>На анализируемом изображении:</h2>
            <ul>
                <li>Одновременно не более одного человека.</li>
                <li>Человек в полный рост, обращенный лицом к камере.</li>
            </ul>
        </div>

        <div class="info-box results">
            <h2>Результаты анализа:</h2>
            <p id="analysis-result">Результаты будут отображены после обработки изображения.</p>
        </div>
    </div>
</main>

<div class="button-container">
    {% if user.is_authenticated %}
        <input type="file" id="imageInput" class="hidden" accept="image/jpeg" />
        <button id="uploadBtn" class="btn upload-btn">
            Загрузить изображение <i class="fas fa-upload"></i>
        </button>
        <button id="processBtn" class="btn process-btn hidden">
            Обработать изображение <i class="fas fa-play"></i>
        </button>
    {% else %}
        <p class="auth-message">
            Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы воспользоваться загрузкой и обработкой изображений.
        </p>
    {% endif %}
</div>

<p id="errorMsg" class="error-message"></p>
{% endblock %}

{% block scripts %}
<script src="{% static 'image_analysis/js/main.js' %}"></script>
{% endblock %}